* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../img/Keyboard with small plant.png");
  background-position: 20% 10% 30%;
  opacity: 1;
}
@media screen and (max-width: 640px) {
  body {
    backdrop-filter: blur(0px);
    background-image: url("../img/Keyboard with small plant.png");
  }
}
body .sign-in, body .sign-up {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 640px) {
  body .sign-in, body .sign-up {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 1200px) {
  body .sign-in, body .sign-up {
    grid-template-columns: 1fr;
  }
}
body .sign-in .welcome, body .sign-up .welcome {
  padding: 5.8rem 5rem;
  background: var(--Background-with-effect, rgba(245, 245, 220, 0.6));
  backdrop-filter: blur(10px);
  text-align: center;
  box-shadow: 0 0 15px #ccc;
}
@media screen and (max-width: 640px) {
  body .sign-in .welcome, body .sign-up .welcome {
    padding: 3.5rem 0 7.3rem 0;
    box-shadow: 0 0 0 #ccc;
    background: fixed;
  }
}
body .sign-in .welcome h1, body .sign-up .welcome h1 {
  color: #333;
  /* H3 Desktop */
  font-family: Work Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 1rem;
}
body .sign-in .welcome p, body .sign-up .welcome p {
  color: #333;
  text-align: center;
  /* Mobile H5 */
  font-family: Work Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 1rem;
}
body .sign-in .welcome form, body .sign-up .welcome form {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1.5rem 3rem;
}
body .sign-in .welcome form .form-input, body .sign-up .welcome form .form-input {
  display: flex;
  height: 3rem;
  padding: 0.5rem 1.5rem;
  align-items: center;
  gap: 14.5rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 1.5px solid var(--Text-color, #333);
}
body .sign-in .welcome form .form-input:last-of-type, body .sign-up .welcome form .form-input:last-of-type {
  margin: 2rem 0 1.5rem 0;
}
body .sign-in .welcome form .form-option, body .sign-up .welcome form .form-option {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
}
@media screen and (max-width: 640px) {
  body .sign-in .welcome form .form-option, body .sign-up .welcome form .form-option {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }
}
body .sign-in .welcome form .form-option .forgot-password, body .sign-up .welcome form .form-option .forgot-password {
  text-align: right;
  flex: 1;
}
body .sign-in .welcome form .form-option .forgot-password a, body .sign-up .welcome form .form-option .forgot-password a {
  color: var(--Primary-color, #800080);
  /* Link */
  font-family: Work Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  color: #800080;
}
@media screen and (max-width: 640px) {
  body .sign-in .welcome form .form-option .forgot-password a, body .sign-up .welcome form .form-option .forgot-password a {
    font-size: 1.3rem;
  }
}
body .sign-in .welcome form .form-option .remember-me, body .sign-up .welcome form .form-option .remember-me {
  flex: 1;
  align-items: flex-end;
  text-align: left;
}
body .sign-in .welcome form .form-option .remember-me span, body .sign-up .welcome form .form-option .remember-me span {
  color: var(--Text-color, #333);
  /* H6 Destop */
  font-family: Work Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 640px) {
  body .sign-in .welcome form .form-option .remember-me span, body .sign-up .welcome form .form-option .remember-me span {
    color: var(--Text-color, #333);
    /* H6 Destop */
    font-family: Work Sans;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  body .sign-in .welcome form .form-option .remember-me input, body .sign-up .welcome form .form-option .remember-me input {
    height: 26px;
    width: 26px;
  }
}
body .sign-in .welcome form .form-option .remember-me input, body .sign-up .welcome form .form-option .remember-me input {
  height: 16px;
  width: 20px;
}
body .sign-in .welcome form .btn-signin, body .sign-up .welcome form .btn-signin {
  display: flex;
  width: 40%;
  height: 3rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: #800080;
  background: var(--Primary-color, #800080);
  color: var(--White, #FFF);
  font-family: Work Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 1.5rem 0;
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  body .sign-in .welcome form .btn-signin, body .sign-up .welcome form .btn-signin {
    width: 100%;
  }
}
body .sign-in .create-classroom, body .sign-up .create-classroom {
  padding: 2rem 5rem;
  background: var(--Background-with-effect, rgba(245, 245, 220, 0.6));
  backdrop-filter: blur(10px);
  text-align: center;
  box-shadow: 0 0 15px #ccc;
}
@media screen and (max-width: 640px) {
  body .sign-in .create-classroom, body .sign-up .create-classroom {
    padding: 1rem 0;
    box-shadow: 0 0 0 #ccc;
    background: fixed;
  }
}
body .sign-in .create-classroom h1, body .sign-up .create-classroom h1 {
  color: #333;
  /* H3 Desktop */
  font-family: Work Sans;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 1rem;
}
body .sign-in .create-classroom p, body .sign-up .create-classroom p {
  color: #333;
  text-align: center;
  /* Mobile H5 */
  font-family: Work Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0.5rem;
}
body .sign-in .create-classroom form, body .sign-up .create-classroom form {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1.5rem 3rem;
}
body .sign-in .create-classroom form .form-control, body .sign-up .create-classroom form .form-control {
  display: flex;
  height: 3rem;
  padding: 0.5rem 1.5rem;
  margin: 0 0 1.2rem 0;
  align-items: center;
  gap: 14.5rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 1.5px solid var(--Text-color, #333);
}
body .sign-in .create-classroom form .form-option, body .sign-up .create-classroom form .form-option {
  text-align: center;
}
body .sign-in .create-classroom form .form-option .account-exist, body .sign-up .create-classroom form .form-option .account-exist {
  text-align: center;
  font-size: 1.5rem;
}
body .sign-in .create-classroom form .form-option a, body .sign-up .create-classroom form .form-option a {
  color: #800080;
}
body .sign-in .create-classroom form .btn-signin, body .sign-up .create-classroom form .btn-signin {
  display: flex;
  width: 40%;
  height: 3rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: #800080;
  background: var(--Primary-color, #800080);
  color: var(--White, #FFF);
  font-family: Work Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 1rem 0;
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  body .sign-in .create-classroom form .btn-signin, body .sign-up .create-classroom form .btn-signin {
    width: 100%;
  }
}
body .sign-in .create-office, body .sign-up .create-office {
  padding: 2rem 5rem;
  background: var(--Background-with-effect, rgba(245, 245, 220, 0.6));
  backdrop-filter: blur(10px);
  text-align: center;
  box-shadow: 0 0 15px #ccc;
}
@media screen and (max-width: 640px) {
  body .sign-in .create-office, body .sign-up .create-office {
    padding: 1rem 0;
    box-shadow: 0 0 0 #ccc;
    background: fixed;
  }
}
body .sign-in .create-office h1, body .sign-up .create-office h1 {
  color: #333;
  /* H3 Desktop */
  font-family: Work Sans;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0.51rem 0;
}
body .sign-in .create-office .admin-office, body .sign-up .create-office .admin-office {
  color: #333;
  text-align: center;
  /* Mobile H5 */
  font-family: Work Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body .sign-in .create-office form, body .sign-up .create-office form {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1.5rem 3rem;
}
body .sign-in .create-office form .form-control, body .sign-up .create-office form .form-control {
  display: flex;
  height: 3rem;
  padding: 0.5rem 1.5rem;
  margin: 0 0 1.2rem 0;
  align-items: center;
  gap: 14.5rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 1.5px solid var(--Text-color, #333);
}
body .sign-in .create-office form .form-option, body .sign-up .create-office form .form-option {
  text-align: center;
}
body .sign-in .create-office form .form-option .account-exist, body .sign-up .create-office form .form-option .account-exist {
  text-align: center;
  font-size: 1.5rem;
}
body .sign-in .create-office form .form-option a, body .sign-up .create-office form .form-option a {
  color: #800080;
}
body .sign-in .create-office form .btn-signin, body .sign-up .create-office form .btn-signin {
  display: flex;
  width: 40%;
  height: 3rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: #800080;
  background: var(--Primary-color, #800080);
  color: var(--White, #FFF);
  font-family: Work Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 1rem 0;
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  body .sign-in .create-office form .btn-signin, body .sign-up .create-office form .btn-signin {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */